:root {
  --background-color: #F5F5F5;
  --btn-color: #0D1117;
  --btn-text-color: #F5F5F5;
  --project-card-bg: #F5F5F500;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --glow-color: #0D1117;
}

[data-theme='dark'] {
  --background-color: #0D1117;
  --btn-color: #FE6C0B;
  --btn-text-color: #F5F5F5;
  --project-card-bg: #F5F5F5;
  --text-color: #F5F5F5;
  --form-text-color: #F5F5F5;
  --footer-text-color: #bbb;
  --glow-color: #FE6C0B;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1,h2,h3,p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
h2,h3,p {
  font-family: 'Share Tech Mono', monospace;
}

h1,h2 {
  text-transform: uppercase;
}

h2,h3 {
  font-size: 20px;
}

h1 {
  font-family: 'Syne Mono', sans-serif;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionsTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  #root {
    gap: 100px;
  }

  h1 {
    font-size: 40px;
  }

  h2,h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  .sectionsTitle {
    margin-bottom: 60px;
  }

  @media (min-width: 1400px) {
    #root {
      gap: 200px;
    }
  
    h1 {
      font-size: 48px;
    }
  
    .sectionsTitle {
      margin-bottom: 75px;
    }
  }
}